.header{
    width: 100%;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 22px;
}

.nav_slide_top{
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
    
}
.container_nav{
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #1c1c1c;
    padding: 8px 23px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    border-radius: 7px;
    height: 57px;
    transform: translateY(100px);
    animation: moveH .5s cubic-bezier(0.175, 0.885, 0.32, 1.275)  forwards;
    z-index: 10;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav_list{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav_list li {
    list-style: none;
    overflow: hidden;
}
.nav_list a{
    color: white;
    text-decoration: none;
    transition: color .6s ease;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 14px;
    opacity: .9;

}
.icon_container{
    border-radius: 50%;
    transition: background-color .4s ease;
    cursor: pointer;
    width: 40px;
    text-align: center;
}
.icon_container:hover{
    background-color: #66ffcc;
}
.icon_container:hover svg path{
    fill: #1c1c1c;
}
.nav_list a::after{
    margin-top:5px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    transition: transform .2s ;
    transform: scale(0);

}
.nav_list li:hover a::after{
    transform: scale(1);
    background-color:#66ffcc;
}

.nav_list li:hover a{
    color: #66ffcc;
    
}
.hamburguer{
    display: none;
}

@keyframes moveH {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(100px);
    }100%{
        transform: translate(0);
    }
}

.social_nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon_container{
    width: 33px;
    height: 33px;
    display: grid;
    place-items: center;

}
@media screen and (max-width:1200px){
    .nav_slide_top{
        padding: 10px;
    }
    
}
@media screen and (max-width:850px){
    .nav_slide_top--active{
        z-index: 1;
        background-color: #1c1c1c;
        display:block;
        animation: menu .5s forwards;
        position: absolute;
        top: 0;
        left: 0;
    }

    .social_nav{
        position: absolute;
        z-index: 10;
        opacity: 0;
        top: 160px;
        left: 40%;
        right: 40%;
        margin: 0 auto;
        gap: 30px;

    }
    .nav_list{
        position: absolute;
        opacity: 0;
        margin:  0 auto;
        flex-direction: column;
        left: 50%;
        right: 50%;
        top: 230px;

       
    }
    .hamburguer{
        display: block;
        z-index: 10;
    }
    .nav_slide_top--active{
        background-color: #1c1c1c;
       
    }
    .social_nav--active{
        z-index: 30;
        opacity: 1;
        
    }
    .nav_list--active{
        opacity: 1;
    }
}

@keyframes menu {
    0%{
        transform: translateY(-100%);
    }100%{
        transform: translateY(0);
    }

}
@media screen and (max-width:550px) {
    .social_nav{
        left: 35%;
        height: 35%;
    }
}
@media screen and (max-width:380px) {
    .social_nav{
        left: 30%;
        height: 30%;
    }
}
